@font-face {
    font-family: JetBrains Mono;
    font-display: swap;
    src: url("../font/JetBrainsMono-Regular.ttf")
}
body {
    background-color: #151515;
    color: #fAfAfA;
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: #6ACFC1;
}

a:hover {
    color: #67CF62;
}

hr {
    width: 25%;
    text-align: left;
    margin-left: 0;
}